@page
@model Time_Plan.dk.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Slet medarbejder</h2>


<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DriversLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DriversLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DriversLicenseWithTrailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DriversLicenseWithTrailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LønNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LønNr)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.ID" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-page="./Index">Tilbage til oversigt</a>
    </form>
</div>
