@page
@model Time_Plan.dk.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Oplysninger</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.SocialSecurityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.SocialSecurityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DriversLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DriversLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DriversLicenseWithTrailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DriversLicenseWithTrailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LønNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LønNr)
            @if (User.IsInRole("Admin"))
            {
               <td>
                    <div class="form-group">
                        
                        <button type="submit" class="btn btn-secondary" asp-page-handler="ResetPassword" asp-route-id="@Model.Person.ID">Reset Password</button>
                    </div>
                </td> 
            }
            
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person?.ID">Rediger</a> |
    <a asp-page="./Index">Tilbage til liste</a>
</div>