@page
@model Time_Plan.dk.Pages.AShift.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.TypeofJob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.TypeofJob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Shift.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Shift.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Shift?.ShiftId">Edit</a> |
    <a asp-page="./Index">Tilbage til oversigt</a>
</div>
