@page
@model Time_Plan.dk.Pages.AShift.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Vagter</h2>

<p>
    <a asp-page="Create">Opret ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="starttime_asc">Start tidspunkt</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="endtime_asc">Slut tidspunkt</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift[0].TypeofJob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shift) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofJob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ShiftId">Rediger</a> |
                <a asp-page="./Details" asp-route-id="@item.ShiftId">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.ShiftId">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
