@page "{dato?}"
@model Time_Plan.dk.Pages.AShift.OversigtModel
@{
}

@if (User.IsInRole("Admin"))
{
    <a href="~/AShift/Index">Vis liste oversigt</a>
}
<table class="tg">
    <thead>
        <tr>

            <th class="tg-lboi">
                <table>
                    <tr>
                        <td style="padding-right:5px; border:none; background-color:transparent;">
                            <form method="GetTidTilbageAsync"><a asp-page="./Oversigt" asp-page-handler="GetTidTilbageAsync" asp-route-dato="@Service.Helper.Remove7DaysToString(Model.date)"><</a></form>
                        </td>

                        <td style="padding-left:5px; border:none; background-color:transparent;">
                            <form method="GetTidFremAsync"><a asp-page="./Oversigt" asp-page-handler="GetTidFremAsync" asp-route-dato="@Service.Helper.Add7DaysToString(Model.date)">></a></form>
                        </td>
                    </tr>
                </table>
            </th>
            @for (int y = 0; y <= 13; y++)
            {
                <th class="tg-0pky">@Model.date.AddDays(y).ToString("dd/MM")</th>
            }

        </tr>
    </thead>
    <tbody class="tg">
        @foreach (Person employee in Model.Person.OrderBy(x => x.LønNr))
        {
            <tr class="tg">
                <td class="tg-0lax" style="color:black">@Html.DisplayFor(modelItem => employee.FullName)</td>
                @for (int i = 0; i <= 13; i++)
                {

                    @if (Model.Vagt(employee.LønNr, Model.date.AddDays(i)))
                    {
                        <td class="tg-0lax" style="background-color:green">
                            <table style="background-color:transparent;">
                                @foreach (var item in Model.GetShiftIDs(Model.date.AddDays(i), employee.LønNr))
                                {
                                    @if (item.StartTime.Date == item.EndTime.Date)
                                    {
                                        <tr>
                                            <td style=" display: inline-block; white-space: nowrap; background-color:transparent; width:95%;">
                                                <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;">@item.StartTime.ToString("HH"):@item.StartTime.ToString("mm")  - @item.EndTime.ToString("HH"):@item.EndTime.ToString("mm") </a>
                                            </td>
                                        </tr>
                                    }
                                    else if (item.EndTime.Date == Model.date.AddDays(i).Date)
                                    {
                                        <tr>
                                            <td style=" display: inline-block; white-space: nowrap; background-color:transparent; width:95%;">
                                                <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;"> @item.StartTime.Date.ToString("dd/MM") - @item.EndTime.ToString("dd/MM") </a>
                                            </td>
                                        </tr>
                                    }
                                    else if (item.StartTime.Date != item.EndTime.Date)
                                    {
                                        if (item.StartTime.Date != Model.date.AddDays(i).Date && item.StartTime.Date != Model.date.AddDays(i).Date)
                                        {
                                            <tr>
                                                <td style=" display: inline-block; white-space: nowrap; display:block; background-color:transparent;">
                                                    <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;">&nbsp; </a>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td style=" display: inline-block; white-space: nowrap; background-color:transparent; width:95%;">
                                                    <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;"> @item.StartTime.Date.ToString("dd/MM") - @item.EndTime.ToString("dd/MM") </a>
                                                </td>
                                            </tr>
                                        }

                                    }

                                }

                            </table>
                        </td>
                    }
                    else
                    {
                        <td class="tg-0lax">
                        </td>
                    }



                }

            </tr>
        }
        <tr class="tg">
            <td class="tg-0lax" style="color:black">Ledige Vagter</td>
            @for (int i = 0; i <= 13; i++)
            {

                @if (Model.Vagt(null, Model.date.AddDays(i)))
                {
                    <td class="tg-0lax" style="background-color:green">
                        <table style="background-color:transparent;">
                            @foreach (var item in Model.GetShiftIDs(Model.date.AddDays(i), null))
                            {
                                @if (item.StartTime.Date == item.EndTime.Date)
                                {
                                    <tr class="tg">
                                        <td style=" display: inline-block; white-space: nowrap; width:95%;">
                                            <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;">@item.StartTime.ToString("HH"):@item.StartTime.ToString("mm")  - @item.EndTime.ToString("HH"):@item.EndTime.ToString("mm") </a>
                                        </td>
                                    </tr>
                                }
                                else if (item.EndTime.Date == Model.date.AddDays(i).Date)
                                {
                                    <tr class="tg">
                                        <td style=" display: inline-block; white-space: nowrap;  width:95%;">
                                            <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;"> @item.StartTime.Date.ToString("dd/MM") - @item.EndTime.ToString("dd/MM") </a>
                                        </td>
                                    </tr>
                                }
                                else if (item.StartTime.Date != item.EndTime.Date)
                                {
                                    if (item.StartTime.Date != Model.date.AddDays(i).Date && item.StartTime.Date != Model.date.AddDays(i).Date)
                                    {
                                        <tr class="tg">
                                            <td style=" display: inline-block; white-space: nowrap; display:block;">
                                                <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;">&nbsp; </a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="tg">
                                            <td style=" display: inline-block; white-space: nowrap; width:95%;">
                                                <a asp-page="./Details" asp-route-id="@item.ShiftId" style="color:black; display:block;text-decoration:none; padding:10px;"> @item.StartTime.Date.ToString("dd/MM") - @item.EndTime.ToString("dd/MM") </a>
                                            </td>
                                        </tr>
                                    }

                                }


                            }

                        </table>
                    </td>
                }
                else
                {
                    <td> </td>
                }






            }
        </tr>
    </tbody>
</table>


