@page "{dato?}"
@model Time_Plan.dk.Pages.AShift.OversigtModel
@{
}
@*
@{
    DateTime date = DateTime.Now;
}
*@
<table class="tg">
    <thead>
        <tr>
            
            <th class="tg-lboi">
              <table>
                  <tr>
                        <td style="padding-right:5px; border:none; background-color:transparent;">
                        <form method="GetTidTilbageAsync"><a asp-page="./Oversigt" asp-page-handler="GetTidTilbageAsync" asp-route-dato="@Service.Helper.Remove7DaysToString(Model.date)"><</a></form>
                    </td>

                        <td style="padding-left:5px; border:none; background-color:transparent;">
                        <form method="GetTidFremAsync"><a asp-page="./Oversigt" asp-page-handler="GetTidFremAsync" asp-route-dato="@Service.Helper.Add7DaysToString(Model.date)">></a></form>
                    </td>
                  </tr>
               </table>
            </th>
            @for (int y = 0; y <= 13; y++)
            {
                <th class="tg-0pky">@Model.date.AddDays(y).ToString("dd/MM")</th>
            }
          
        </tr>
    </thead>
    <tbody>
@foreach (Person employee in Model.Person.OrderBy(x => x.LønNr))
{ <tr>
            <td class="tg-0lax">@Html.DisplayFor(modelItem => employee.FullName)</td>
            @for (int i = 0; i <= 13; i++)
            {
                 <td class="tg-0lax">
                        @if (Model.Vagt(employee.LønNr, Model.date.AddDays(i)))
                        {
                            <a asp-page="./Details" asp-route-id="@Model.GetShiftID(Model.date.AddDays(i),employee.LønNr)" class="btn btn-success">Vagt</a>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger">Ingen Vagt</button>
                        }

                    </td>
                                    
            }
              
        </tr>
}
        <tr>
            <td class="tg-0lax">Ledige Vagter</td>
            @for (int i = 0; i <= 13; i++)
            {
                <td class="tg-0lax">
                    @if (Model.Vagt(null, Model.date.AddDays(i)))
                    {
                        <a asp-page="./Details" asp-route-id="@Model.GetShiftID(Model.date.AddDays(i),null)" class="btn btn-success">Vagt</a>
                    }
                   

                </td>

            }
        </tr>
    </tbody>
</table>
<a href="./Index">Vis Liste format</a>